.box-1-simplon-ulysseG {
  background: #ff17b6;
  width: 25%;
  border-radius: 28px;
}
.box-2-simplon-ulysseG {
  background: #B6FF17;
  width: 25%;
  border-radius: 15%;
}
.box-3-simplon-ulysseG {
  background: #1BFF17;
  width: 25%;
  border-radius: 0.5px;
}
