.box-1-simplon-renaudV {
  background-color: #cc0000;
  border: 2px solid black;
  border-radius: 5%;
}
.box-2-simplon-renaudV {
  background-color: #990000;
  border: 2px solid black;
  border-radius: 10%;
}
.box-3-simplon-renaudV {
  background-color: #660000;
  border: 2px solid black;
  border-radius: 15%;
}
