@radiusDoux: 5px;
@radiusMoyen: 10px;
@radiusFort: 15px;
@bleu: #1C1768;


.border-radius(@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
  border: solid @bleu 2px;
  margin-bottom: 2px;
  text-align: center;
}

.box-1-simplon-thomasn {
  .border-radius(@radiusDoux);
}
.box-2-simplon-thomasn {
  .border-radius(@radiusMoyen);
}
.box-3-simplon-thomasn {
  .border-radius(@radiusFort);
}
